<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
			    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
			    http://www.springframework.org/schema/tx
			    http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
			    http://www.springframework.org/schema/context
			    http://www.springframework.org/schema/context/spring-context.xsd">
    
	<bean id="applicationProperties"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:backend.properties" />
	</bean>

	<!-- Enable usage of @Autowired. -->
	<context:annotation-config />

	<!-- Enable component scanning for defining beans with annotations. -->
	<context:component-scan base-package="es.ficonlan.web.backend" />
	
	<bean id="C3P0-dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close" > 
		<property name="driverClass" value="${dataSource.driverClass}"/>				<!-- JdbcDriver-->
		<property name="jdbcUrl" value="${dataSource.jdbcUrl}"/>					<!-- db url-->
		<property name="user" value="${dataSource.user}"/>						<!-- db user-->
		<property name="password" value="${dataSource.password}"/>					<!-- db password-->
		<!-- <property name="acquireRetryDelay" value="${dataSource.acquireRetryDelay}"/> -->		<!-- Minimum time to order new connections MILI-SECONDS-->
		<!-- <property name="autoCommitOnClose" value="${dataSource.autoCommitOnClose}" /> -->		<!-- Enable autoCommit -->
		<property name="initialPoolSize" value="${dataSource.initialPoolSize}"/>			<!-- initialPoolSize -->
		<property name="minPoolSize" value="${dataSource.minPoolSize}"/>				<!-- minPoolSize -->
		<property name="maxPoolSize" value="${dataSource.maxPoolSize}"/>				<!-- maxPoolSize -->
		<property name="acquireIncrement" value="${dataSource.acquireIncrement}"/>			<!-- Number of connections in which increases the poll when this is full and a new connection is requested -->
		<property name="maxIdleTime" value="${dataSource.maxIdleTime}"/>				<!-- Minimum time that must be an idle connection to turn it off SECONDS -->
		<property name="maxConnectionAge" value="${dataSource.maxConnectionAge}" />			<!-- Maximum time you have to be an idle connection to turn it off SECONDS -->
		<property name="maxIdleTimeExcessConnections" value="${dataSource.maxIdleTimeExcessConnections}"/>	<!-- Minimum life time of a connection SECONDS -->
		<property name="preferredTestQuery" value="${dataSource.preferredTestQuery}"/>			<!-- Query to test the pool -->
		<property name="idleConnectionTestPeriod" value="${dataSource.idleConnectionTestPeriod}"/>	<!-- Test the idle connections every SECONDS -->
		<!-- <property name="testConnectionOnCheckin" value="${dataSource.testConnectionOnCheckin}" /> --><!-- Test connections on create -->
		<!-- <property name="testConnectionOnCheckout" value="${dataSource.testConnectionOnCheckout}" /> -->	<!-- Test connections on destroy -->
	</bean>
	
	
	<!-- Hibernate Session Factory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="C3P0-dataSource" /> 
		<property name="configLocation" value="hibernate-config.xml" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- Spring Application Context Provider to use from Jersey Resources -->
	<bean id="applicationContextProvider"
		class="es.ficonlan.web.backend.jersey.util.ApplicationContextProvider"></bean>

</beans>